a:visited, a:link {
    color: inherit;
}
.header .header__actions {
    justify-content: center;
}
.ps-form--quick-search .ps-form__categories {
    border-radius: 4px 0 0 4px;
}
.ps-block--user-account .ps-block__content {
    min-width: 200px;
}
.locale-icon {
    background-image: none;
}
.ps-footer {
    box-shadow: 0px -4px 20px 10px rgba(0, 0, 0, 0.05);
}

.static-page .container-xl{
    padding-top: 50px;
    padding-bottom: 50px;
}

.static-page .container-xl h2, .static-page .container-xl h3{
    color: #444;
    text-align: center;
    margin-bottom: 30px;
}

.static-page .container-xl p{
    font-size: 1.7rem;
    margin-bottom: 40px;
}

.static-page .container-xl li{
    font-size: 1.7rem;
    color: #666;
}
.ps-form--account .ps-form__content {
    padding: 30px 30px 10px;
}
.ps-form--account.register {
    max-width: 550px;
}
.min-vh-auto {
    min-height: auto;
}
.vue-go-top {
    width: 50px !important;
    height: 50px !important;
    border-radius: 10px;
}
.ps-page--my-account .ps-breadcrumb {
    background-color: #fff;
}
.address-holder {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
}
.address-card {
    width: 50%;
}
.address-card .details {
    border: 1px solid #C7C7C7;
    padding: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}
.address-card .details span {
    display: block;
}
.bold {
    font-weight: bold;
    color: #3A3A3A;
}
.address-card .details .control-links {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.address-card .details span {
    display: block;
}
.mt-5p {
    margin-top: 5px;
}
.account-item-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    transition: all 0.2s ease-in;
}
.account-item-card:hover {
    box-shadow: 0 3px 6px rgb(0 0 0 / 11%), 0 3px 6px rgb(0 0 0 / 8%);
}
.account-item-card .media-info {
    display: flex;
    flex-direction: row;
}
.account-item-card .media-info .media {
  height: 125px;
  width: 110px;
  transition: all 0.2s ease-in;
}
/* .account-item-card:hover .media-info .media {
    transform: scale(1.1);
} */
.account-item-card .media-info .info {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.account-item-card .media-info .info .product-name a{
    font-weight: bold;
    text-transform: capitalize;
    font-size: 18px;
}
.account-item-card .media-info .info .stars .icon {
  height: 16px;
  color: gold;
  width: 16px;
}
.account-item-card .operations {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.account-item-card .operations a {
  width: 100%;
}
.account-item-card .operations a span {
  float: right;
}
.ps-widget--account-dashboard .ps-widget__header {
    padding: 10px;
    background-color: white;
    border: 1px solid #d1d1d1;
    border-bottom: 0;
}

.modal-parent {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1001;
}
.scrollable, .layered-filter-wrapper {
    max-height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.ps-block--user-account i {
    line-height: 1.4em;
}

.ps-shopping .ps-shopping__actions {
    justify-content: space-between; 
    width: 100%;
}
.ps-shopping .ps-shopping__actions .form-control {
    margin-right: 25px;
    width: auto !important;
}

@media(max-width:767.98px) {
    .ps-shopping .ps-shopping__actions .form-control {
        margin-right: 5px;
    }
}

.ps-product .ps-product__thumbnail img {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
}

.ps-product--wide .ps-product__desc {
    /* padding-left: 15px; */
    position: relative;
    color: #999;
    line-height: 1.8em;
}

.ps-product--wide .ps-product__desc span {
    font-weight: bold;
}


@media (max-width: 1024px){
    .ps-product--wide .ps-product__thumbnail {
        flex-basis: auto;
    }
    .ps-product--wide .ps-product__shopping {
        flex-basis: 100%;
    }
}

#alert-container {
    top: 50px;
    right: 15px;
    z-index: 1100;
    position: fixed;
    font-size: 16px;
}

.ps-product:hover .ps-product__content {
    visibility: visible;
    opacity: 1;
    height: auto;
}
.ps-product{
    border-bottom: 1px solid transparent;
    margin-bottom: 30px;
}

.ps-product .ps-product__container {
    padding: 10px 0;
}

.ps-btn.btn-small, button.ps-btn.btn-small {
    padding: 10px 30px;
    font-size: 15px;
}
.ps-product--wide .ps-product__container {
    padding: 20px !important;
}
.modal-parent {
    background: rgba(0,0,0,.7);
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001;
}
.layered-filter-wrapper, .scrollable {
    -ms-overflow-style: none;
    max-height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
}
.cd-quick-view {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    background-color: #fff;
    box-shadow: 0 0 30px rgb(0 0 0 / 20%);
    display: none;
    left: 50%;
    margin-bottom: 50px;
    padding: 40px;
    position: absolute;
    top: 100px;
    transform: translateX(-50%);
    width: 60%;
    will-change: left,top,width;
    z-index: 101;
}

.cd-quick-view .close-btn {
    font-weight: 600;
    position: absolute;
    right: 20px;
    top: 15px;
    cursor: pointer;
    font-size: 18px;
}

.vue-slider {
    max-width: 97%;
}

.vue-slider .vue-slider-rail {
    background-color: #ccc;
}

.vue-slider .vue-slider-process {
    background-color: #fcb800!important;
}
.vue-slider-process {
    position: absolute;
    z-index: 1;
}

.vue-slider .vue-slider-dot-handle {
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0.5px 0.5px 2px 1px rgb(0 0 0 / 32%);
    height: 100%;
    width: 100%;
}

.vue-slider .vue-slider-dot-tooltip-inner, .vue-slider .vue-slider-dot-tooltip-text {
    background-color: #fcb800!important;
    border-color: #fcb800!important;
}

.vue-slider .vue-slider-dot-tooltip-text {
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 14px;
    min-width: 20px;
    padding: 2px 5px;
    text-align: center;
    white-space: nowrap;
}

.price-control {
    background-color: #fff;
    border: 1px solid #fcb800;
    text-align: center;
    width: 30%;
    margin: 20px auto;
}

@media (max-width: 767px) {
    .ps-product .ps-product__container {
        padding: 10px;
    }
}

.checkout-process {
  padding: 40px 20px;
}
.checkout-process .accordian-header h3 {
  margin-bottom: 0 !important;
}
.checkout-process .coupon-container {
  margin-top: 20px;
}
.checkout-process h1 {
  font-weight: 600;
  margin-bottom: 30px;
}
.checkout-process .scrollable, .checkout-process .layered-filter-wrapper {
  padding-top: 25px;
}
.checkout-process .order-summary-container {
  top: 75px;
}
.checkout-process .order-summary-container .theme-btn, .checkout-process .order-summary-container .cart-details .continue-shopping-btn, .cart-details .checkout-process .order-summary-container .continue-shopping-btn, .checkout-process .order-summary-container .account-content .account-layout .bottom-toolbar .pagination .page-item, .account-content .account-layout .bottom-toolbar .pagination .checkout-process .order-summary-container .page-item {
  display: none;
}
.checkout-process .order-summary-container.bottom h3 {
  display: none;
}
.checkout-process input[type=radio] {
  transform: scale(1.3);
  -ms-transform: scale(1.3);
  -webkit-transform: scale(1.3);
}
.checkout-process .styled-select {
  cursor: pointer;
}
.checkout-process .styled-select + .select-icon {
  top: 55%;
  left: 92%;
  font-size: 20px;
  position: absolute;
}
.checkout-process .coupon-container input {
  max-width: 200px;
}
.checkout-process .coupon-container button {
  margin: 20px 0 30px 0;
}
.checkout-process .coupon-container .applied-coupon-details {
  font-size: 16px;
  margin-bottom: 10px;
}
.checkout-process .coupon-container .applied-coupon-details label:nth-of-type(1) {
  color: #26A37C;
}
.checkout-process .coupon-container .rango-close {
  cursor: pointer;
  margin-left: 5px;
}

.address-container .address-holder {
  margin-top: 15px;
}
.address-container .address-holder > div {
  margin: 5px 0;
  padding-left: 0;
}
.address-container .address-holder .card {
  height: 100%;
}
.address-container .address-holder .card h5 {
  font-size: 14px;
}
.address-container .address-holder .card .add-address-button {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.address-container .address-holder .card .add-address-button > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.address-container .address-holder .card .add-address-button > div span {
  padding-left: 10px;
}
.custom-form label {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}

/* .custom-form .form-field {
  padding: 0;
  margin-bottom: 30px;
}
.custom-form input[type=text],
.custom-form input[type=password],
.custom-form input[type=search],
.custom-form select {
  width: 100%;
  resize: none;
  font-size: 16px;
  height: 36px;
  padding: 5px 16px;
  border-radius: 1px;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
}
.custom-form input[type=checkbox] {
  position: relative;
  top: 3px;
} */
/* .custom-form input:active,
.custom-form input:focus,
.custom-form select:focus,
.custom-form select:active {
  border-color: #26A37C;
} */

.shipping-form h3,
.payment-form h3,
.review-checkout-conainer h3 {
  margin-bottom: 20px;
}
.shipping-form .shipping-methods > .row,
.shipping-form .payment-methods > .row,
.payment-form .shipping-methods > .row,
.payment-form .payment-methods > .row,
.review-checkout-conainer .shipping-methods > .row,
.review-checkout-conainer .payment-methods > .row {
  margin-bottom: 20px;
}
.shipping-form .shipping-methods .instructions,
.shipping-form .payment-methods .instructions,
.payment-form .shipping-methods .instructions,
.payment-form .payment-methods .instructions,
.review-checkout-conainer .shipping-methods .instructions,
.review-checkout-conainer .payment-methods .instructions {
  margin-top: 5px;
  margin-left: -13px;
}
.shipping-form .shipping-methods .instructions label,
.shipping-form .payment-methods .instructions label,
.payment-form .shipping-methods .instructions label,
.payment-form .payment-methods .instructions label,
.review-checkout-conainer .shipping-methods .instructions label,
.review-checkout-conainer .payment-methods .instructions label {
  font-weight: 600;
  font-size: 14px;
}
.shipping-form .shipping-methods .instructions p,
.shipping-form .payment-methods .instructions p,
.payment-form .shipping-methods .instructions p,
.payment-form .payment-methods .instructions p,
.review-checkout-conainer .shipping-methods .instructions p,
.review-checkout-conainer .payment-methods .instructions p {
  margin: 0;
  font-size: 14px;
  color: #777777;
  font-style: italic;
}
.shipping-form .address-summary li,
.payment-form .address-summary li,
.review-checkout-conainer .address-summary li {
  display: inline-block;
}
.shipping-form .cart-item-list,
.payment-form .cart-item-list,
.review-checkout-conainer .cart-item-list {
  padding: 20px 0;
  border-bottom: 1px solid #E5E5E5;
}
.shipping-form .cart-item-list h4,
.payment-form .cart-item-list h4,
.review-checkout-conainer .cart-item-list h4 {
  padding-bottom: 20px;
  border-bottom: 1px solid #E5E5E5;
  margin-bottom: 20px !important;
}
.shipping-form .cart-item-list > .row:first-child,
.payment-form .cart-item-list > .row:first-child,
.review-checkout-conainer .cart-item-list > .row:first-child {
  margin-top: 50px;
}
.shipping-form .cart-item-list > .row,
.payment-form .cart-item-list > .row,
.review-checkout-conainer .cart-item-list > .row {
  margin-bottom: 20px;
}
.shipping-form .cart-details,
.payment-form .cart-details,
.review-checkout-conainer .cart-details {
  padding: 40px 0;
}

.order-summary-container {
  top: 50px;
  padding-top: 25px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: -webkit-sticky !important;
  position: sticky !important;
  max-width: 500px !important;
}
.order-summary-container > div {
  width: 100%;
}
.order-summary-container .order-summary {
  padding: 25px 30px;
  border: 1px solid #E5E5E5;
}
.order-summary-container .order-summary > h3 {
  margin-bottom: 20px;
}
.order-summary-container .order-summary > .row:not(:last-child) {
  margin-bottom: 10px;
}
.order-summary-container .order-summary #grand-total-detail {
  margin-top: 15px;
  padding-top: 15px;
  margin-bottom: 25px;
  border-top: 1px solid #E5E5E5;
}

.order-success-content {
  padding: 40px 20px;
  font-size: 16px;
}

.accordian .accordian-header i.fas {
    float: right;
    font-size: 24px;
}

.cursor-pointer {
    cursor: pointer;
}

.ps-checkbox>input {
    height: 0;
}
.ps-btn:active, .ps-btn:hover, button.ps-btn:active, button.ps-btn:hover {
    background-color: #222;
    color: #fff !important;
    border: 2px solid #222;
}

.btn-danger {
    color: #fff !important;
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}

.tabs ul li.active a {
    border-bottom: 3px solid #fcb800;
}
.order-box-container {
    padding-top: 30px;
}
.order-box-container .box .box-title {
    font-size: 18px;
    padding: 10px 0;
    font-weight: 600;
    color: rgb(158, 158, 158);
}
.order-box-container .box {
    width: calc(33% - 5px);
    vertical-align: top;
    display: inline-block;
}

.order-box-container .box:last-child {
    text-align: right;
}

.bb-social-share__item a svg {
    width: 3.5rem !important; 
    height: 3.5rem !important;
    margin-right: 15px;
}

.text-primary {
    color: #fcb800 !important;
} 
@media(min-width:1100px) {
    .ps-product__content.w-60 {
        width: 65%;
    }
    .ps-product__content.w-60 .ps-product__desc {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;  
        overflow: hidden;
    }
    .product-image-group {
        position: -webkit-sticky;
        position: sticky;
        top: 70px;
    }

}
.review-block {
    margin-bottom: 20px;
    padding: 15px 10px;
    border: 1px solid #eaeaea;
    transition: all .4s ease;
}
.review-block:hover {
    border-color: silver;
}
.product-image-group>div {
    margin: 0;
    padding: 0;
}

.outer-assets-container .video-container {
    max-height: 420px;
    min-height: 420px;
    position: relative;
}

.outer-assets-container .video-container video {
    max-height: 420px;
}

.thumb-list {
    left: 15px;
    margin-top: 10px;
    overflow: hidden;
    padding: 0;
    position: relative;
    z-index: 99;
}
.VueCarousel {
    cursor: pointer;
    width: 100%;
}

.VueCarousel .VueCarousel-inner {
    padding-top: 5px;
    justify-content: center;
}

.ps-related-products .VueCarousel .VueCarousel-inner {
    justify-content: flex-start;
}

.thumb-list .thumb-frame {
    border: 1px solid transparent;
    padding: 2px;
}

.thumb-list .thumb-frame>.bg-image {
    background-position-y: center;
    /* background-size: 100% 100%; */
    /* width: 100px; */
    aspect-ratio: 1/1;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}
.thumb-list .thumb-frame.active {
    border: 2px solid #fcb800;
}
.carousel-products .VueCarousel-slide {
    cursor: default;
}

.fa-rotate-180 {
    transform: rotate(180deg) !important;
}

.cd-quick-view .cd-slider li.selected img {
    display: inline-block!important;
    height: 100%;
    width: 100%;
}

.cd-quick-view .cd-slider .VueCarousel .VueCarousel-inner {
    padding-top: 5px;
    justify-content: start;
}

@media (max-width: 479px) {
    .ps-footer__widgets>* {
        max-width: 50%;
        flex-basis: 100%;
    }
}

.left-corner-dropdown {
    position: fixed;
    bottom: 30px;
    left: 5%;
}

.left-corner-dropdown .form-control {
    background-color: #fff;
    padding: 5px 10px;
    height: 40px;
    border-radius: 10px;
}
.slides-container .VueCarousel .VueCarousel-inner {
    padding-top: 0;
    justify-content: start;
}

.VueCarousel-dot[data-v-438fd353]:focus {
    outline: 1px solid #fcb800;
}

.VueCarousel-dot--active {
    background-color: #fcb800 !important;
}

.banner-icon {
    height: 70vh !important;
    object-fit: cover;
}

.ps-block--category {
    position: relative;
}
.ps-list--social-color li a.youtube {
    background-color: #ff0000;
}

.ps-list--social-color li a.youtube:hover {
    background-color: #ff0000bb;
}
.ps-list--social-color li a.instagram {
    background-color: #ff00ff;
}

.ps-list--social-color li a.instagram:hover {
    background-color: #ff00ffbb;
}
.hot-cat .VueCarousel .VueCarousel-inner, .ps-block--shop-features .VueCarousel .VueCarousel-inner {
    justify-content: start;
}
/* .vendor-store .ps-product .ps-product__container {
    padding: 10px;
} */
.vendor-store .ps-product .ps-product__thumbnail img {
    width: 250px;
}
.ps-btn:active, .ps-btn:hover, button.ps-btn:active, button.ps-btn:hover {
    border: none;
}
.ps-product.ps-product--wide .ps-product__thumbnail img {
    height: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
}
.menu>li.has-mega-menu .mega-menu {
    transform: translateX(-34%) !important;
}
@media(max-width:767.98px) {
    
    .custom-slider {
        aspect-ratio: 4/3;
        /* height: 40vh; */
    }
    .slider-banner-icon {
        width: 100%;
        height: 100% !important;
    }
    .ps-footer__widgets {
        padding-bottom: 0;
    }
}

.pagination .page-item {
    padding: 0 14px !important;
    position: relative;
    display: inline-block;
    z-index: 30;
    color: #999;
    line-height: 32px;
    border: none;
    background-color: #f5f5f5;
    color: #000;
    vertical-align: middle;
    font-size: 14px;
}

.pagination .page-item.active {
    background-color: #fcb800;
    color: #000;
}


.mega-menu { 
    flex-wrap: wrap;
    justify-content: start;
}

.mega-menu .mega-menu__column {
    min-width: 25%;
    width:25% ;
}

.menu>li.has-mega-menu {
    position: unset;
}

.navigation__right {
    position: relative;
}

.menu>li>a {
    font-size:14px; 
    font-weight:500;
}

.mega-menu h4 {
    font-weight: 500;
    color: #d06104; 
}

.menu>li.has-mega-menu .mega-menu {
    transform: none !important;
    left: 0;
    right: 0 ;
}

.height-180 {
    height: 180px;
    width: 100%;
    object-fit: cover;
}

.height-410 {
    height: 410px;
    width: 100%;
    object-fit: cover;
}

.height-465 {
    height: 465px;
    width: 100%;
    object-fit: cover;
}

.height-225 {
    height: 225px;
    width: 100%;
    object-fit: cover;
}

.height-447 {
    height: 447px;
    width: 100%;
    object-fit: cover;
}